*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    margin: auto;
}
.Footer{
    height: auto;
    width: 100%;
    padding: 40px 15px;
    background-color:#1D425D;
    display: grid;
    grid-auto-columns: 1rem;
    grid-template-columns: repeat(1, minmax(min(100%, 50%),1fr));
    row-gap: 1rem;
    color: white;
}
.Footer img{
    margin: 0 15px;
}
.footer-up{
    display: grid;
    grid-template-columns: 3fr 1fr;
    place-items: center center;
    max-width: 90%;
    margin: auto;
}
.footer-p p{
    font-size: 1.2rem;
}
.footer-v{
    width: 100%;
    display: flex;
    text-align: center;
}
.footer-v p:first-of-type{
    font-size: 1.2rem;
}
.footer-v p:last-of-type{
    font-size: 1.2rem;
}


.Footer img:last-of-type{
    height: 60px;
}
@media screen and (max-width: 768px) {
    .Footer{
        row-gap: 0;
    }
    .Footer img{
        width: 50px;
    }
    .footer-up{
        grid-template-columns: 1fr;
    }

    .footer-v{
        font-size: 12px;
        color: #e5e5e5;
        text-align: center;
        justify-content: center;
        margin: 10px 0;
    }

}

